@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0px;
}
            
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    font-family: 'Lato', sans-serif;
}

.bold {
    font-weight: 900;
    color: #00783f;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(80px, auto);
    column-gap: 0px;
    padding: 20px 40px;
    text-align: center;
}

.application, .banks, .story, .believe {
    grid-column: 1/12;
    text-align: center;
}

.intro {
    grid-column: 1/12;
    text-align: center;
}

.application, .banks, .story, .believe {
    padding: 40px;
    border: 1px solid #ddd;
    margin-top: 30px;
}

.intro h1 {
    text-transform: uppercase;
    font-weight: 300;
}

.title {
    text-transform: uppercase;
    font-weight: 900;
    color: #00783f;
}

.subtitle {
    text-transform: lowercase;
    font-style: italic;
    margin-top: -6%;
    font-weight: 400;
}

.buttons {
    grid-column: 1/5;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.learn {
    grid-column: 1/3;
    background-color: #0a364b;
}

.apply {
    grid-column: 1/3;
    background-color: #00783f;
}

@media only screen and (min-width:620px) {

    .subtitle {
        margin-top: -3.5%;
    }

    .application {
        grid-column: 1/3;
    }

    .banks {
        grid-column: 3/5;
    }

    .story {
        grid-column: 1/3;
    }

    .believe {
        grid-column: 3/5;
    }

    .learn {
        grid-column: 1/2;
    }

    .apply {
        grid-column: 2/4;
    }
}

@media only screen and (min-width:900px) {
    .subtitle {
        margin-top: -2.5%;
    }

    .application {
        grid-column: 1/2;
    }

    .banks {
        grid-column: 2/3;
    }

    .story {
        grid-column: 3/4;
    }

    .believe {
        grid-column: 4/5;
    }
}

@media only screen and (min-width:1100px) {
    .subtitle {
        margin-top: -2%;
    }
}